#tablaContenedora{
    display:flex;
    width:580px;
    height:35px;
    
}

#tablaContenedora tr{
    display:flex;
    width:580px;
    height:35px;
    
}
#tablaContenedora th{
    display:flex;
    width:580px;
    height:35px;
   
}

#tablaContenedeoraMachine{
    margin-left: 50%;
    display:flex;
    width:580px;
    height:35px;
}

#sectionMachine table{
   margin-top: -6%;
}

#tablaContenedeoraMachine tr{
    display:flex;
    width:580px;
    height:35px;
}

#tablaContenedeoraMachine th{
    display:flex;
    width:580px;
    height:35px;
}


#submarino1{
background-color: black;
width: 50px;
height: 30px;
border-radius: 29px;
position: absolute;
}
#submarino2{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}
#submarino3{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}
#submarino4{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}
#destructores1{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}

#destructores2{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px; 
    position: absolute;
}

#destructores3{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}

#cruceros1{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}

#cruceros2{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}

#portaAviones1{
    background-color: black;
    width: 50px;
    height: 30px;
    border-radius: 29px;
    position: absolute;
}